.calendar {
  // --calendar-border-color: ;

  --calendar-label-cell-height: 45px;
  --calendar-grid-cell-height: minmax(70px, 1fr);

  &--view-week {
    --calendar-grid-cell-height: minmax(200px, 1fr);
  }

  --calendar-nav-background-color: var(--color-alert);
  --calendar-nav-hover-background-color: var(--color-alert-accent);
  --calendar-nav-focus-background-color: var(
    --calendar-nav-hover-background-color
  );

  --calendar-nav-today-background-color: var(--color-success);
  --calendar-nav-today-hover-background-color: var(--color-success-accent);
  --calendar-nav-today-focus-background-color: var(
    --calendar-nav-today-hover-background-color
  );

  --calendar-day-focus-background-color: var(--color-focus-light);
  --calendar-day-focus-border-color: var(--color-focus);

  --calendar-day-today-background-color: var(--color-subtle-light);
  --calendar-day-today-number-background-color: var(--color-theme);
  --calendar-day-today-number-color: var(--color-white);
  --calendar-day-weekend-background-color: var(--color-subtle-extra-light);
  --calendar-day-other-month-number-color: var(--color-greyish);
  --calendar-day-today-other-month-number-background-color: var(--color-greyish);
  --calendar-day-today-selected-number-background-color: var(--color-success-dark);

  &__toolbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include media-breakpoint-up(sm) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-areas: 'left center right';

      &__left {
        grid-area: left;
        justify-content: start;
      }

      &__center {
        grid-area: center;
        justify-content: center;
      }

      &__right {
        grid-area: right;
        justify-content: end;
      }
    }

    select {
      background: 0;
      border: 0;
      cursor: pointer;
    }
  }

  &__today {
    // Unset button styling
    border: 0;

    // Circle
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    // Colors & text styling
    color: var(--color-white);
    background-color: var(--calendar-nav-today-background-color);
    font-size: 0.75rem;

    // Centering content
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--calendar-nav-today-hover-background-color);
      outline: none;
    }

    &:focus {
      background-color: var(--calendar-nav-today-focus-background-color);
    }
  }

  &__nav {
    display: flex;
    gap: 0.5rem;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
      width: 100%;
    }

    &__button {
      // Unset button styling
      border: 0;

      // Circle
      height: 2rem;
      width: 2rem;
      border-radius: 50%;

      // Colors & text styling
      color: var(--color-white);
      background-color: var(--calendar-nav-background-color);
      font-size: 0.75rem;

      // Centering content
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--calendar-nav-hover-background-color);
        outline: none;
      }

      &:focus {
        background-color: var(--calendar-nav-focus-background-color);
      }
    }
  }

  &__labels {
    display: none;

    border-top: 1px solid var(--calendar-border-color);
  }

  &__day-grid {
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up(md) {
    &__labels,
    &__day-grid {
      display: grid;
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    &__labels {
      grid-auto-rows: var(--calendar-label-cell-height);
    }

    &__day-grid {
      grid-auto-rows: var(--calendar-grid-cell-height);
    }
  }

  &__label-date-range,
  &__label-day,
  &__day {
    border: 1px solid var(--calendar-border-color);
  }

  &__label-date-range {
    grid-column: span 7;
  }

  &__label-date-range,
  &__label-day {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__day {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    // Reset font size for content
    font-size: 1rem;

    &[role='button'] {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      background-color: var(--calendar-day-focus-background-color);
      border-color: var(--calendar-day-focus-border-color);
    }

    --number-background: none;
    --number-color: inherit;

    &__number {
      font-size: 1.25rem;
      width: 1.8rem;
      height: 1.8rem;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 0.25rem;

      background: var(--number-background);
      color: var(--number-color);
      border-radius: 50%;
    }

    &--today {
      background: var(--calendar-day-today-background-color);
      --number-background: var(--calendar-day-today-number-background-color);
      --number-color: var(--calendar-day-today-number-color);
    }

    &--other-month {
      --number-color: var(--calendar-day-other-month-number-color);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--weekend {
      background-color: var(--calendar-day-weekend-background-color);
    }

    &--selected {
      background-color: var(--calendar-day-focus-background-color);
      border-color: var(--calendar-day-focus-border-color);
    }

    // .calendar-day--today.calendar-day--other-month
    &--today#{&}--other-month {
      --number-background: var(--calendar-day-today-other-month-number-background-color);
      --number-color: var(--calendar-day-today-number-color);
    }

    // .calendar-day--today.calendar-day--selected
    &--today#{&}--selected {
      --number-background: var(--calendar-day-today-selected-number-background-color);
    }
  }
}
