.floating {
  &__content {
    /* Float on top of the UI */
    position: absolute;

    /* Avoid layout interference */
    width: max-content;
    top: 0;
    left: 0;

    /* Place it over whatever */
    z-index: 1;

    /* Default styling */
    box-shadow: 0px 0.625rem 1.875rem rgba(36, 43, 102, 0.2);
    border: 0;
    background-color: var(--color-subtle-light);
  }

  &__arrow {
    content: '';
    position: absolute;
    background-color: inherit;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }
}
