.card > .list-view-tabs {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.list-view-tabs {
  background-color: var(--color-subtle);
  border: 0;
  padding-top: 0.5rem;

  .nav-item {
    border: 0;
    a {
      color: var(--color-dark);
      text-decoration: none;

      &:hover {
        color: var(--color-theme);
      }
    }
  }
  .nav-link {
    border: 0;
    background: transparent;

    &:hover {
      color: var(--color-theme);
    }

    &.active {
      color: var(--color-theme);
      background: var(--color-white);
    }
  }
}
