@import '@getflights/ember-mist-components/dist/styles/components/input-phone-intl.scss';
@import '@getflights/ember-mist-components/dist/styles/components/floating.scss';

:root {
  --color-subtle-light: red;
}

.row {
  display: flex;
  gap: 1rem;
}

.col-12 {
  flex-basis: 100%;
}

.col-6 {
  flex-basis: calc(100% / 2);
}

.col-4 {
  flex-basis: calc(100% / 3);
}

.col-3 {
  flex-basis: calc(100% / 4);
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
}
