.cui-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  gap: 0.5rem;

  &__info,
  &__filters,
  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    margin: 0;
    padding: 0.25rem;
  }

  &__actions {
    margin: 0;

    > .action-menu__item {
      max-width: 2rem;

      * {
        justify-content: center;
      }
    }

    > .action-menu__item--lg {
      max-width: unset;
      height: unset;
    }
  }

  position: relative;
}
