.cui-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  color: var(--color-subtle-dark);
  font-size: 0.75rem;

  &__limit {
    display: flex;
    align-items: center;
  }

  .form-control {
    // No chevron
    background-image: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: 1rem;
    background-color: transparent;
    color: var(--color-subtle-dark);
    font-size: 0.75rem;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.pagination {
  margin: 0;
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    border: 0;

    .btn {
      padding: 0.5rem;
      color: var(--color-subtle-dark);
      border: 0;

      &:disabled {
        color: var(--color-subtle);
        cursor: not-allowed;
      }
    }
  }

  &__selector {
    max-width: 8ch;
    text-align: center;
  }
}
