.cui-table {
  /* This is needed to make height: 100% work in cells */
  height: 1px;

  margin-bottom: 0;

  &__column {
    font-size: 0.8rem;
    // vertical-align: middle;
    white-space: nowrap;
    // padding: .5rem;
    // border-bottom: 1px solid var(--color-subtle);
    // color: var(--color-theme);

    &[role="button"] {
      cursor: pointer;

      &:hover {
        background-color: var(--color-subtle-light);
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
      }
    }

    &--sortable::after {
      @include icon('\F0DC');
      color: var(--color-subtle-dark);
      margin-left: 0.5rem;
      font-size: 1rem;
    }

    font-weight: 500;

    &--sorted-asc,
    &--sorted-desc {
      font-weight: 700;

      &::after {
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    &--sorted-asc::after {
      background-image: linear-gradient(to top, var(--color-subtle-accent) 50%, var(--color-dark) 50%);
    }

    &--sorted-desc::after {
      background-image: linear-gradient(to bottom, var(--color-subtle-accent) 50%, var(--color-dark) 50%);
    }
  }

  // &__row {
  // // THIS CSS IS BASICALLY DONE BY BOOTSTRAP ALREADY
  //   &:hover {
  //     background-color: var(--color-focus-light);
  //   }
  // }

  .cui-table__cell {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    height: 100%;

    .output--empty {
      &::before {
        content: ' ';
        white-space: pre;
      }
    }

    &--pre {
      .input {
        display: flex;
        align-items: center;
      }
    }

    &__wrapper {
      text-decoration: none;
      color: var(--color-dark);
      display: block;
      height: 100%;

      &:visited,
      &:hover,
      &:focus,
      &:visited:hover,
      &:visited:focus {
        outline: none;
        text-decoration: none;
        color: var(--color-dark);
      }
    }

    &--pre,
    &--post,
    &--data .output {
      padding: 0.5rem;
    }

    &--data {
      .output {
        display: flex;
        height: 100%;
        align-items: center;
      }
    }

    &--empty {
      border-bottom: none;
      padding: 0.5rem;
    }
  }
}
