<div class='input-group mb-3'>
  {{! template-lint-disable require-input-label }}
  <input
    class='form-control'
    value={{@text}}
    readonly
    {{this.inputModifier}}
    {{on 'click' this.selectText}}
    {{on 'focus' this.selectText}}
  />
  {{#if this.canCopy}}
    <button
      class='btn btn-default'
      type='button'
      {{on 'click' this.copyToClipboard}}
    >
      <i class='icon-content-copy'></i>
    </button>
  {{/if}}
</div>