<li
  class="dropdown action-menu__item action-menu__dropdown-item"
  ...attributes
>
  <button
    id={{this.ariaId}}
    type="button"
    class="action-menu__link action-menu__dropdown-trigger"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    {{this.dropdownModifier}}
  >
    {{#if @iconComponent}}
      {{@iconComponent}}
    {{else}}
      <Icon @name="button-more" />
    {{/if}}
  </button>
  <ul
    class="dropdown-menu dropdown-menu-right action-menu__dropdown-menu"
    aria-labelledby={{this.ariaId}}
  >
    {{yield}}
  </ul>
</li>