<li class="action-menu__item" ...attributes>
  {{#if @itemClicked}}
    {{! template-lint-disable no-invalid-interactive }}
    <button
      id={{@id}}
      class="action-menu__link"
      type="button"
      role={{if @role @role "button"}}
      {{on "click" @itemClicked}}
    >
      {{yield}}

      {{#if (gt @count 0)}}
        <i class="action-menu__item__count">
          {{@count}}
        </i>
      {{/if}}
    </button>
  {{else if @targetRoute}}
    <a
      id={{@id}}
      class="action-menu__link"
      type="button"
      role={{if @role @role "button"}}
      href={{@targetRoute}}
    >
      {{yield}}

      {{#if (gt @count 0)}}
        <i class="action-menu__item__count">
          {{@count}}
        </i>
      {{/if}}
    </a>
  {{else}}
    {{yield}}
  {{/if}}
</li>